
// .breadcrumb-area
.breadcrumb-area {
    @extend %textcenter;
    border-top: 1px solid #D9E0E5;
    border-bottom: 1px solid #D9E0E5;
    padding: 17px 0;
    @extend %lightblue-bg-color;
    margin-bottom: 40px;
    @include all-below-mobile-lg{
        padding: 10px 0;
    }
    ul {
        li {
            @extend %displayinline;
            line-height: 15px;
            @include all-below-mobile-lg{
                margin-bottom: 6px;
            }
            a {
                color: #707070;
                font-size: 14px;
                @extend %uppercase;
                border-right: 1px solid #7B7C7C;
                padding: 0px 12px;
            }
            &:last-child a {
                border-right: 0;
                @extend %primary-color;
            }
        }
    }
}
// car-details-area
.car-details-content {
    @extend %lightblue-bg-color;
    @extend %borderradius5;
    padding: 15px;
    @include all-below-med{
        padding: 25px 15px;
    }
    @include all-below-mobile-lg{
        padding: 15px 15px 20px;
    }
    @include all-mx-mobile{
        padding: 15px 10px 20px;
    }
    // .slick-slider-wrap
    .slick-slider-wrap{
        width: 610px;
        max-height: 401px;
        @extend %posrelative;
        @include mx-desktops{
            width: 550px;
            max-height: 360px;
        }
        @include all-below-med{
            margin: 0 auto;
            margin-bottom: 15px;
        }
        @include all-below-mobile-lg{
            width: 100%;
            max-height: 100%;
        }
        .slider {
            width: 490px;
            @include mx-desktops{
                width: 440px;
            }
            @include all-below-mobile-lg{
                width: 100%;
                margin-bottom: 10px;
            }
        }
        .slider-nav-thumbnails {
            width: 110px;
            margin-left: 10px;
            @include mx-desktops{
                width: 100px;
            }
            @include all-below-mobile-lg{
                width: auto;
                margin-left: 0;
            }
            .arrow-left{
                top: 0px;
                @extend %posrelative;
            }
            .arrow-right{
                bottom: 0;
                @extend %posrelative;
            }
            .slick-slide {
                border: 0;
                margin: 4px 0;
                @include all-below-mobile-lg{
                    margin: 0 5px;
                }
            }
            .slick-list {
                margin-top: -5px;
                margin-bottom: -4px;
                @include all-below-mobile-lg{
                    margin: 0 20px;
                }
                img{
                    @include all-below-mobile-lg{
                        max-width: 100px;
                    }
                    @include all-mx-mobile{
                        max-width: 85px;
                    }
                }
            }
        }
        .slick-vertical .slick-slide {
            border: 0;
        }
        .slick-arrow {
            @extend %primary-bg-color;
            @extend %w100;
            @extend %textcenter;
            @extend %white-color;
            height: 26px;
            line-height: 25px;
            font-size: 20px;
            @extend %cursorpointer;
            @extend %displayblock;
        }
        @include all-below-mobile-lg{
            .slick-arrow {
                position: absolute !important;
                left: 0 !important;
                top: 0 !important;
                width: 25px !important;
                height: 100% !important;
                z-index: 2;
                line-height: 76px !important;
            }
            .arrow-right.slick-arrow {
                right: 0 !important;
                left: auto !important;
            }
            .slick-arrow .fa-angle-up {
                transform: rotate(-90deg);
            }
            .slick-arrow .fa-angle-down {
                transform: rotate(-90deg);
            }
        }
        @include all-mx-mobile{
            .slick-arrow {
                line-height: 64px !important;
            }
        }
    }
    // .car-details
    .car-details{
        width: 470px;
        padding-left: 20px;
        @include mx-desktops{
            width: 350px;
        }
        @include all-below-med{
            width: 610px;
            margin: 0 auto;
            padding-left: 0;
        }
        @include all-below-mobile-lg{
            width: 100%;
        }
        .car-title {
            @extend %primary-color;
            font-weight: 300;
            border-bottom: 1px solid #B8BFC4;
            @include mx-desktops{
                padding-bottom: 5px !important;
                margin-bottom: 10px !important;
            }
            h3 {
                font-size: 21px;
                margin-bottom: 3px;
                @extend %uppercase;
            }
        }
        .car-text {
            color: #707070;
            @include mx-desktops{
                font-size: 15px;
                margin-bottom: 10px !important;
            }
            h4 {
                font-size: 19px;
                font-weight: 500;
                margin-bottom: 10px;
                @extend %black-color;
            }
        }
        .price-per-month{
            .price-wrap {
                width: 310px;
                @extend %white-bg-color;
                padding: 14px 18px;
                color: #707070;
                font-size: 14px;
                @extend %uppercase;
                @extend %borderradius5;
                @include mx-desktops{
                    width: 225px;
                    padding: 8px 10px;
                }
                @include all-below-mobile-lg{
                    padding: 8px 10px;
                }
                @include all-mx-mobile{
                    width: 225px;
                }
                .car-price {
                    @extend %primary-color;
                    font-size: 30px;
                    @extend %fontweight700;
                    @extend %displayblock;
                    line-height: 34px;
                    @include mx-desktops{
                        font-size: 25px;
                        line-height: 25px;
                    }
                    @include all-below-mobile-lg{
                        font-size: 24px;
                        line-height: 30px;
                    }
                }
                .monthly-cost {
                    @extend %secondary-color;
                    font-weight: 600;
                    font-size: 18px;
                    margin: 0 10px;
                }
            }
            .mercedes-logo img {
                @include mx-desktops{
                    max-width: 68px;
                }
                @include all-below-mobile-lg{
                    max-width: 68px;
                }
            }
        }
        .details-btns {
            @include mx-desktops{
                margin-top: 10px !important;
            }
            @include all-below-mobile-lg{
                justify-content: space-between;
            }
            .boxed-btn {
                width: 170px;
                padding: 9px 10px;
                @include mx-desktops{
                    width: 150px;
                }
                @include all-below-mobile-lg{
                    width: 48%;
                    margin: 0px !important;
                }
                &.enquire-btn {
                    @extend %primary-bg-color;
                    margin-left: 15px;
                    &:hover {
                        @extend %primary-border-color;
                        background: transparent;
                        @extend %primary-color;
                    }
                }
            }
        }
    }
    .car-details-bottom{
        margin-top: 22px;
        @include all-below-med{
            width: 610px;
            margin: 0 auto;
            margin-top: 20px;
        }
        @include all-below-mobile-lg{
            width: 100%;
        }
        .car-details-features {
            @include all-below-med{
                width: 100%;
                margin-bottom: 20px;
            }
            .single-car-details-feature {
                margin-left: 40px;
                font-size: 13px;
                @extend %uppercase;
                @extend %black-color;
                @include mx-desktops{
                    margin-left: 25px;
                }
                @include all-below-med{
                    width: 15%;
                    margin: 0 auto;
                    justify-content: center;
                }
                @include all-below-mobile-lg{
                    font-size: 10px;
                }
                .dfeature-icon {
                    margin-bottom: 5px;
                    img{
                        @include all-below-mobile-lg{
                            max-width: 30px;
                        }
                        @include all-mx-mobile{
                            max-width: 25px;
                        }
                    }
                }
            }
        }
        .share-section {
            @include all-below-med{
                width: 100%;
            }
            @include all-mx-mobile{
                justify-content: space-between;
            }
            a {
                @extend %primary-bg-color;
                @extend %white-color;
                font-size: 13px;
                @extend %uppercase;
                padding: 10px 20px;
                @extend %borderradius5;
                margin-right: 8px;
                @extend %basetransition2;
                @include all-mx-mobile{
                    padding: 10px 0px;
                    margin-right: 0;
                    width: 32%;
                    text-align: center;
                }
                &:hover {
                    @extend %secondary-bg-color;
                }
                i {
                    margin-right: 5px;
                    @include all-mx-mobile{
                        margin-right: 2px;
                    }
                }
            }
        }
    }
}
// .product-slider photo overlap issue
.slider, .slider-nav-thumbnails{
    @extend %invisible;	 
    transition: opacity 0.1s;
    &.slick-initialized{
        @extend %visible;
        .single-car-item{
            @extend %displayblock;
            visibility:visible !important;
        }
    }
    .single-car-item{
        @extend %displaynone;
        img{
            @extend %w100;
        }
        &:nth-child(1){
            @extend %displayblock;
            // visibility:hidden;
        }
    }
}

// .reserve-area
.reserve-area {
    padding: 45px 0 50px;
    @include all-below-med{
        padding: 40px 0 40px;
    }
    .reserve-content {
        @extend %secondary-bg-color;
        @extend %white-color;
        @extend %borderradius5;
        padding: 27px 30px;
        @include mx-tablet{
            padding: 25px 15px;
        }
        .single-reserve-item {
            width: 320px;
            @include mx-desktops{
                width: 260px;
            }
            // @include mx-tablet{
                
            // }
            h3 {
                font-weight: 300;
                font-size: 24px;
                margin: 0;
                strong {
                    @extend %fontweight700;
                    @extend %displayblock;
                }
            }
            &.reserve-one {
                @include mx-tablet{
                    padding-right: 20px;
                    width: 230px;
                }
                @include all-below-mobile-lg{
                    width: 50%;
                }
                @include all-mx-mobile{
                    order: 0;
                    width: 100%;
                    justify-content: center;
                    margin-bottom: 20px;
                }
                span {
                    margin-right: 10px;
                }
                .laptop {
                    width: 70px;
                    height: 45px;
                    @extend %primary-bg-color;
                    @extend %textcenter;
                    @extend %borderradius5;
                    border: 2px solid #fff;
                    line-height: 42px;
                    @extend %posrelative;
                    top: -2px;
                }
                .laptop:after {
                    @extend %pseudo;
                    left: -6px;
                    bottom: -7px;
                    width: 117%;
                    height: 3px;
                    @extend %white-bg-color;
                }
            }
            &.reserve-two {
                width: 430px;
                @include mx-desktops{
                    width: 370px;
                }
                @include mx-tablet{
                    width: 255px;
                }
                @include all-below-mobile-lg{
                    width: 100%;
                    margin-bottom: 20px;
                }
                .single-step {
                    @extend %textcenter;
                    font-size: 15px;
                    @extend %uppercase;
                    @extend %posrelative;
                    &:after {
                        @extend %posabsolute;
                        right: -88%;
                        top: 50%;
                        font-family: fontawesome;
                        @extend %white-color;
                        content: "\f0da";
                        font-size: 30px;
                        margin-top: -22px;
                        @include all-mx-mobile{
                            display: none;
                        }
                    }
                    &:last-child:after {
                        content: "";
                    }
                    .step-one {
                        width: 70px;
                        height: 70px;
                        border: 2px solid #fff;
                        @extend %borderradiusfiftypercent;
                        @extend %displayblock;
                        line-height: 65px;
                        @extend %primary-bg-color;
                        font-size: 30px;
                        margin: 1px 0;
                    }
                }
            }
            &.reserve-three {
                width: 300px;
                @include mx-desktops{
                    width: 240px;
                }
                @include mx-tablet{
                    width: 175px;
                }
                @include all-below-mobile-lg{
                    width: 50%;
                    order: 2;
                }
                @include all-mx-mobile{
                    width: 100%;
                    justify-content: center !important;
                }
                .boxed-btn {
                    @extend %primary-bg-color;
                    @include mx-tablet{
                        padding: 9px 10px;
                    }
                    &:hover {
                        @extend %primary-border-color;
                        background: transparent;
                        @extend %primary-color;
                    }
                }
            }
        }
    }
}

// .submenu-area
.submenu-area {
    padding-bottom: 55px;
    @extend %posrelative;
    @include all-below-med{
        padding-bottom: 40px;
    }
    ul {
        @extend %textcenter;
        border-bottom: 6px solid;
        @extend %primary-border-color;
        @extend %posrelative;
        li {
            @extend %displayinline;
            @extend %posrelative;
            &.list-one{
                &:after {
                    @extend %pseudo;
                    @extend %w100;
                    @extend %secondary-bg-color;
                    left: 0;
                    bottom: -6px;
                    height: 6px;
                }
                &:before {
                    @extend %pseudo;
                    width: 20px;
                    height: 20px;
                    @extend %secondary-bg-color;
                    bottom: -25px;
                    clip-path: polygon(100% 0, 50% 50%, 0 0);
                    left: 50%;
                    margin-left: -10px;
                }
            }
            .nav-link {
                @extend %primary-color;
                @extend %uppercase;
                font-weight: 600;
                font-size: 16px;
                padding: 24px 60px;
                @extend %posrelative;
                @include all-below-med{
                    padding: 18px 25px;
                }
                @include all-below-mobile-lg{
                    padding: 14px 10px;
                    font-size: 15px;
                }
                &.active{
                    &:after {
                        @extend %pseudo;
                        @extend %w100;
                        @extend %secondary-bg-color;
                        left: 0;
                        bottom: -6px;
                        height: 6px;
                    }
                    &:before {
                        @extend %pseudo;
                        width: 20px;
                        height: 20px;
                        @extend %secondary-bg-color;
                        bottom: -25px;
                        clip-path: polygon(100% 0, 50% 50%, 0 0);
                        left: 50%;
                        margin-left: -10px;
                    }
                }
            }
        }
    }
}
.sticky-wrapper.is-sticky {
    .submenu-area {
        top: 85px !important;
        z-index: 99 !important;
        @extend %white-bg-color;
        padding-bottom: 0;
        @extend %lightblue-bg-color;
        border-bottom: 6px solid;
        @extend %primary-border-color;
        ul {
            border: 0;
            li {
                a {
                    padding: 18px 60px;
                    @include all-below-med{
                        padding: 15px 25px;
                    }
                    @include all-below-mobile-lg{
                        padding: 14px 10px;
                    }
                }
                &.list-one{
                    &:before, &:after{
                        @extend %displaynone;
                    }
                }
            }
        }
    }
}

// specification-area
.specification-area{
    padding: 0 0 40px;
    .table-content-wrap {
        .section-title {
            margin-bottom: 45px;
            @include all-below-med{
                margin-bottom: 20px;
            }
        }
        .single-table-item {
            border: 1px solid #C2D4E3;
            margin-bottom: 23px;
            .table-header {
                border-bottom: 1px solid #C2D4E3;
                padding: 10px 18px;
                @extend %primary-color;
                @extend %fontweight700;
                @extend %uppercase;
                font-size: 18px;
                @extend %lightblue-bg-color;
                height: 60px;
                @include mx-desktops{
                    padding: 8px 10px;
                }
                .head-icon {
                    @extend %displayinline;
                    border-right: 4px solid;
                    @extend %primary-border-color;
                    padding-right: 15px;
                    margin-right: 10px;
                }
            }
            .table-striped {
                tbody tr{
                    &:nth-of-type(odd) {
                        @extend %lightblue-bg-color;
                    }
                    &:nth-of-type(even) {
                        background: #F8FCFF;
                    }
                }
            }
            .table {
                margin: 0;
                tr {
                    td {
                        @extend %borderzero;
                        font-size: 14px;
                        @extend %uppercase;
                        font-weight: 500;
                        padding: 8px 18px;
                        @include mx-desktops{
                            padding: 8px 10px;
                        }
                        &:nth-child(1) {
                            @extend %black-color;
                        }
                        &:nth-child(2) {
                            @extend %primary-color;
                        }
                    }
                    &:nth-child(1) {
                        td {
                            padding-top: 15px;
                        }
                    }
                }
            }
        }
    }
    .specification-bottom-text {
        padding: 30px 30px;
        color: #707070;
        box-shadow: 0 0px 20px -13px #000;
        @extend %borderradius5;
        @extend %white-bg-color;
        margin-top: 10px;
        @include all-below-mobile-lg{
            padding: 30px 15px;
        }
    }
}


// .testimonial-area
.testimonial-area {
    padding: 40px 0 70px;
    @include all-below-med{
        padding: 30px 0 60px;
    }
    .section-title {
        margin-bottom: 40px;
        @include all-below-med{
            margin-bottom: 30px;
        }
    }
    .testimonial-quote {
        width: 130px;
        height: 130px;
        @extend %borderradiusfiftypercent;
        border: 1px solid #E0EFFC;
        color: #C0C6CC;
        font-size: 50px;
        line-height: 130px;
        margin: 0 auto;
        @extend %lightblue-bg-color;
        margin-bottom: 30px;
        box-shadow: 0 0px 27px -20px #000000;
        @include all-below-med{
            width: 90px;
            height: 90px;
            font-size: 35px;
            line-height: 89px;
        }
    }
    .single-testimonial-item {
        @extend %primary-color;
        font-weight: 300;
        h4 {
            @extend %primary-color;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 12px;
            @include all-below-mobile-lg{
                line-height: 1.4;
            }
        }
        .stars {
            margin-top: 40px;
            @include all-below-mobile-lg{
                margin-top: 30px;
            }
        }
    }
    .owl-nav {
        div {
            left: -119px;
            opacity: .7;
            @include  mx-desktops{
                left: -90px;
            }
            @include  all-below-med{
                left: -35px;
            }
            @include  all-below-mobile-lg{
                display: none;
            }
            &.owl-next {
                left: auto;
                right: -119px;
                @include  mx-desktops{
                    right: -90px;
                    left: auto;
                }
                @include  all-below-med{
                    right: -35px;
                    left: auto;
                }
            }
        }
    }
}

