/*================Home Page CSS===============*/
.homepage-slider-area, .single-slide-item .row, .single-slide-item {
    height: 530px;
    @include all-below-med{
        height: 370px;
    }
    @include all-below-mobile-lg{
        height: 350px;
    }
}
.homepage-slider-area {
    .owl-nav div {
        @extend %white-color;
        @extend %primary-bg-color;
        left: 0px;
        line-height: 63px;
        margin-top: -32px;
        width: 45px;
        height: 65px;
        font-size: 40px;
        padding-right: 5px;
        border-radius: 0 5px 5px 0;
        @include all-below-med{
            line-height: 49px;
            margin-top: -25px;
            width: 35px;
            height: 50px;
            font-size: 40px;
        }
        &.owl-next {
            left: auto;
            right: 0px;
            padding-left: 5px;
            padding-right: 0;
            border-radius: 5px 0px 0px 5px;
        }
        &:hover {
            @extend %white-color;
            @extend %secondary-bg-color;
        }
    }
}
.single-slide-item {
    @extend %white-color;
    @extend %zindex2;
    @extend %backgroundimage;
    &:after {
        @extend %pseudo;
        left: 0;
        top: 0;
        width: 57%;
        @extend %h100;
        @extend %black-bg-color;
        z-index: -1;
        opacity: .6;
        clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
        @include all-below-med{
            width: 72%;
        }
    }
    .slide-text {
        font-size: 18px;
        font-weight: 500;
        @extend %uppercase;
        h2 {
            font-size: 40px;
            @extend %white-color;
            font-family: 'Signika Negative', sans-serif;
            @include all-below-med{
                font-size: 32px;
            }
        }
    }
    .slide-btn {
        margin-top: 35px;
    }
}
/* Owl Carousel Content animation */
.owl-carousel {
    @extend %displaynone;
    @extend %posrelative;
    @extend %w100;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
}
.owl-carousel.owl-loaded {
    @extend %displayblock;
}
.owl-carousel .owl-stage {
    @extend %posrelative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;
}
.owl-carousel .owl-stage::after {
    @extend %displayblock;
    height: 0;
    clear: both;
    line-height: 0;
    content: '.';
    visibility: hidden;
}
.owl-carousel .owl-stage-outer {
    @extend %posrelative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    overflow: hidden;;
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}  

// Fade In Down keyframes
@-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
// Fade In Up keyframes
@-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
.homepage-slider-area .owl-item.active .fade-down{
    animation: fadeInDown 1s 1;
}
.homepage-slider-area .owl-item.active .fade-up{
    animation: fadeInUp 1s 1;
}

// car-search-area 
.car-search-area {
    @extend %primary-bg-color;
    padding: 25px 0 16px;
    .select-dropdowns {
        margin-bottom: 30px;
        .single-select-dropdown {
            width: 25%;
            padding-right: 10px;
            &:last-child {
                padding-right: 0;
            }
        }
    }
    .finance-range-slider-1{
        width: 390px;
        @include mx-desktops{
            width: 300px;
        }
        @include all-below-med{
            width: 100%;
            margin-bottom: 20px;
        }
        .pm-range-slider{
            &:before, &:after{
                display: none;
            }
        }
        .slider-price {
            .min-price {
                padding-left: 60px;
            }
            .max-price {
                padding-right: 60px;
            }
        }
    }
    .view-btn{
        .boxed-btn{
            width: 200px;
            margin-bottom: 5px;
            padding: 9px 10px;
            @include mx-desktops{
                width: 190px;
            }
            i{
                margin-right: 5px;
            }
        }
    }
}

// range slider
.range-slider {
    padding: 23px 0 0;
}
.pm-range-slider {
    height: 8px;
    @extend %secondary-bg-color;
    @extend %posrelative;
    // margin: 0 21px;
    @extend %borderradius5;
    &:before {
        height: 19px;
        width: 19px;
        @extend %secondary-bg-color;
        @extend %pseudo;
        @extend %borderradius50;
        top: 50%;
        transform: translate(-100%, -50%);
        left: 9px;
    }
    &:after {
        height: 19px;
        width: 19px;
        @extend %secondary-bg-color;
        @extend %pseudo;
        @extend %borderradius50;
        top: 50%;
        transform: translate(100%, -50%);
        right: 10px;
    }
    .ui-slider-handle {
        width: 19px;
        height: 19px;
        top: -5px;
        @extend %secondary-bg-color;
        border-radius: 100%;
        transition: inherit;
        &:focus {
            outline: none;
            border: none;
        }
    }
    .ui-widget-header {
        background-color: #EBEBEB;
        @extend %h100;
        top: 0;
    }
}
.slider-price {
    margin-top: 8px;
    @extend %textcenter;
    @extend %displayflex;
    @extend %justifybetween;
    input{
        max-width: 50%;
        background: none;
        padding: 0;
        border: 0;
        height: auto;
        @extend %white-color;
        font-size: 15px;
        &.max-price{
            @extend %textright;
        }
    }
}
.slider-labels{
    @extend %white-color;
    @extend %uppercase;
    font-size: 15px;
    span {
        @extend %posabsolute;
        left: 65px;
        top: -28px;
        &.max-text {
            left: auto;
            right: 68px;
        }
    }
}


/* .payment-method */
.payment-method{
    @extend %white-color;
    font-size: 14px;
    @extend %uppercase;
    font-weight: 600;
    .switcher-text{
        letter-spacing: 0.1rem;
    }
    .switcher-btn {
        @extend %posrelative;
        height: 30px;
        width: 80px;
        @extend %displayblock;
        margin: 0 15px;
        @include mx-desktops{
            margin: 0 10px;
        }
        input {
            display:none;
        }
        input:checked + .switch-slider:before {
            -webkit-transform: translateX(26px);
            transform: translateX(26px);
        }
        .switch-slider {
            @extend %posabsolute;
            bottom: 0;
            left: 0;
            @extend %cursorpointer;
            top: 0;
            transition: all 0.4s ease 0s;
            @extend %black-bg-color;
            height: 30px;
            width: 80px;
            border-radius: 50px;
            @extend %white-color;
            font-weight: 700;
            font-size: 12px;
            padding: 7px 14px 0 11px;
            &:before {
                @extend %pseudo;
                bottom: 6px;
                left: 11px;
                height: 18px;
                transition: all 0.4s ease 0s;
                width: 33px;
                @extend %secondary-bg-color;
                border-radius: 50px;
            }
        }
        
    }
}


// .brand-carousel-area
.brand-carousel-area {
    background-color: #F0F8FF;
    padding: 35px 0;
    .single-brand-item{
        @extend %white-bg-color;
        height: 90px;
        img{
            max-width: 150px;
        }
    }
}

// .body-style-area
.body-style-area {
    padding: 80px 0 40px;
    .body-style-title{
        margin-bottom: 40px;
        .section-title {
            h2 {
                margin: 0;
            }
        }
    }
    .body-style-content {
        @extend %posrelative;
        &:after, &:before {
            @extend %posabsolute;
            left: -5px;
            bottom: 0px;
            content: "\f0d9";
            font-family: fontawesome;
            @extend %primary-color;
            font-size: 25px;
            z-index: 3;
        }
        &:before {
            content: "\f0da";
            left: auto;
            right: -5px;
        }
        .owl-stage-outer {
            padding-bottom: 17px;
        }
        .body-style-carousel{
            @extend %posrelative;
            &:after {
                @extend %pseudo;
                left: 0;
                bottom: 15px;
                @extend %w100;
                height: 7px;
                background: #D4DEE7;
                z-index: -1;
            }
        }
        .single-body-item {
            @extend %posrelative;
            height: 165px;
            a {
                @extend %primary-color;
                font-size: 15px;
                @extend %uppercase;
                @extend %displayblock;
                padding-bottom: 33px;
                font-weight: 700;
            }
            img{
                max-width: 200px;
                margin-bottom: 20px;
                @include mx-tablet{
                    max-width: 160px;
                }
            }
            &:hover{
                &:after {
                    @extend %pseudo;
                    left: 0;
                    bottom: -2px;
                    @extend %w100;
                    height: 7px;
                    @extend %secondary-bg-color;
                    @extend %zindex2;
                }
                &:before {
                    @extend %posabsolute;
                    width: 40px;
                    height: 40px;
                    @extend %secondary-bg-color;
                    content: "\f067";
                    @extend %borderradius50;
                    font-family: fontawesome;
                    @extend %white-color;
                    line-height: 42px;
                    z-index: 4;
                    font-size: 20px;
                    @extend %margin0auto;
                    left: 0;
                    bottom: -17px;
                    right: 0;
                }
            }
        }
    }
}

// .featured-area
.featured-area {
    padding: 40px 0 50px;
    .single-featured-item {
        border: 1px solid #E0EAF2;
        padding: 15px 10px 20px 10px;
        @extend %borderradius5;
        background-color: #F0F8FF;
        @include mx-desktops{
            padding: 15px 15px 20px 15px;
        }
        @include mx-tablet{
            padding: 15px 10px 20px 10px;
        }
        .car-photo {
            @include mx-desktops{
                padding: 8px;
                border-radius: 5px;
                background: #484848;
            }
        }
        img{
            max-width: 244px;
            @include mx-tablet{
                max-width: 200px;
            }
        }
        h4 {
            @extend %black-color;
            font-size: 16px;
            margin: 15px 0 10px;
        }
        .featured-price {
            @extend %primary-color;
            font-weight: 700;
            @extend %displayblock;
            margin-bottom: 10px;
        }
        .price-per-month {
            @extend %black-color;
            font-size: 14px;
            align-items: baseline;
            margin-bottom: 25px;
            .monthly-cost {
                @extend %secondary-color;
                font-weight: 700;
                font-size: 22px;
                margin: 0 6px;
            }
        }
        .boxed-btn{
            &.finance-option {
                @extend %w100;
                @extend %primary-bg-color;
                margin-bottom: 10px;
                &:hover {
                    background: transparent;
                    @extend %primary-border-color;
                    @extend %primary-color;
                }
            }
            @include all-below-med{
                padding: 9px 10px;
                font-size: 14px;
            }
        }
        .featured-btn  {
            .boxed-btn{
                padding: 9px 17px;
                @include mx-tablet{
                    padding: 9px 5px;
                }
                &.f-share {
                    padding: 5px 14px;
                    @extend %primary-bg-color;
                    font-size: 20px;
                    @include mx-tablet{
                        padding: 5px 10px;
                    }
                    &:hover {
                        @extend %primary-border-color;
                        @extend %primary-color;
                        background: transparent;
                    }
                }
            }
        }
    }
    .featured-view-btn {
        margin-top: 35px;
        .boxed-btn {
            width: 230px;
        }
    }
}


// finance-area
.finance-area {
    padding: 50px 0 80px;
    // .finance-slider-wrap
    .finance-slider-wrap {
        width: 770px;
        @extend %white-bg-color;
        margin: 0 auto 75px;
        @include all-below-med{
            width: 92%;
        }
    }
    // finance-category-wrap
    .finance-category-wrap{
        .single-category-item {
            width: 300px;
            margin: 0px 20px;
            @include all-below-med{
                width: 33.333%;
                 margin: 0px 10px;
            }
            @extend %white-bg-color;
            .category-inner {
                height: 260px;
                @extend %basetransition2;
                border-radius: 5px 5px 0 0;
                img {
                    margin-bottom: 20px;
                    @include all-below-med{
                        max-width: 130px;
                        margin-bottom: 15px;
                    }
                }
                h4 {
                    font-size: 22px;
                    @extend %secondary-color;
                    margin: 0;
                    span {
                        @extend %displayblock;
                        font-size: 14px;
                        @extend %primary-color;
                        margin-bottom: 8px;
                        @extend %uppercase;
                    }
                }
            }
            .boxed-btn {
                @extend %w100;
                border-radius: 0 0 5px 5px;
                @extend %invisible;
                @extend %basetransition2;
                &:hover{
                    @extend %white-bg-color;
                    @extend %secondary-color;
                }
            }
            &:hover{
                .boxed-btn{
                    @extend %visible;
                }
                .category-inner {
                    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.2);
                }
            }
        }
    }
    // finance-logo-wrap
    .finance-logo-wrap {
        width: 850px;
        @extend %margin0auto;
        margin-top: 90px;
        @include all-below-med{
            width: 100%;
        }
        img{
            @include all-below-med{
                max-width: 180px;
            }
        }
    }
}


// .finance-range-slider-2
.finance-slider-wrap {
    .section-title {
        margin-bottom: 55px;
        .fsection-text {
            letter-spacing: 2px;
        }
    }
    .boxed-btn {
        @extend %margin0auto;
        @extend %displayblock;
        margin-top: 60px;
        width: 200px;
    }
    .finance-range-slider-2 {
        .range-slider {
            padding: 40px 0 0;
        }
        .slider-labels {
            span {
                font-size: 22px;
                font-weight: 700;
                @extend %primary-color;
            }
            .max-text {
                right: -33px;
                top: -45px;
            }
            .min-text {
                left: -24px;
                top: -45px;
            }
        }
        .pm-range-slider:before, .pm-range-slider:after {
            @extend %primary-bg-color;
            @extend %zindex2;
        }
        .pm-range-slider {
            @extend %primary-bg-color;
            .ui-slider-handle {
                width: 70px;
                height: 30px;
                top: -46px;
                z-index: 3;
                @extend %secondary-color;
                font-size: 22px;
                font-weight: 700;
                @extend %borderradius0;
                @extend %textcenter;
                @extend %white-bg-color;
                margin-left: -35px;
                padding-left: 10px;
                &:after {
                    @extend %posabsolute;
                    left: 15px;
                    top: 29px;
                    content: "+";
                    width: 40px;
                    height: 40px;
                    @extend %secondary-bg-color;
                    @extend %borderradius50;
                    line-height: 40px;
                    @extend %white-color;
                }
                &:before {
                    @extend %posabsolute;
                    left: 5px;
                    top: 0;
                    content: "£";
                    @extend %secondary-color;
                }
            }
        }
    }
}

// .group-content-area
.group-content-area {
    padding: 80px 0 65px;
}
// .about-section-wrap
.about-section-wrap {
    margin-bottom: 30px;
    @include all-below-med{
        margin-bottom: 20px;
    }
    .about-section-left {
        width: 530px;
        @extend %backgroundimage;
        @include all-below-med{
            width: 100%;
            height: 300px;
        }
    }
    .about-section-right {
        width: 580px;
        @extend %primary-bg-color;
        padding: 35px 40px;
        color: #C3CBD5;
        @include all-below-med{
            width: 100%;
            padding: 30px 30px;
        }
        h3 {
            font-size: 26px;
            margin-bottom: 10px;
            @extend %white-color;
        }
        h4 {
            font-size: 18px;
            font-weight: 500;
            line-height: 1.3;
            @extend %white-color;
        }
        .boxed-btn i {
            margin-left: 3px;
        }
    }
}
// .reviews-section
.group-reviews-section {
    margin-right: 15px;
    @extend %primary-bg-color;
    @extend %white-color;
    @include all-below-med{
        &.w-50{
            width: 100% !important;
        }
        margin: 0 0 20px;
    }
}
// .reviews-logo-section
.reviews-logo-section{
    .single-logo-section {
        width: 220px;
        height: 200px;
        @include all-below-med{
            width: 40%;
        }
        &.logo-colored {
            @extend %secondary-bg-color;
            width: 330px;
            flex-direction: column;
            justify-content: center !important;
            align-items: center;
            div {
                margin: 15px 0;
            }
            @include all-below-med{
                width: 60%;
            }
        }
    }
}
// .reviews-section
.reviews-section {
    padding: 35px 110px 60px 90px;
    color: #C3CBD5;
    @include mx-desktops{
        padding: 35px 50px 60px 65px;
    }
    .single-review-item {
        h4 {
            @extend %white-color;
            font-size: 18px;
            @extend %uppercase;
            font-weight: 600;
            margin-bottom: 10px;
        }
        .stars {
            span {
                color: #ED8A19;
                margin-right: 3px;
            }
        }
    }
    .review-carousel {
        @extend %posrelative;
        width: 350px;
        @extend %margin0auto;
        @include mx-desktops{
            width: 330px;
        }
        &:after {
            @extend %posabsolute;
            left: -60px;
            top: -12px;
            font-family: fontawesome;
            font-size: 40px;
            color: #3A698E;
            content: "\f10d";
            @include mx-desktops{
                left: -56px;
            }
        }
        &:before {
            @extend %posabsolute;
            right: -66px;
            bottom: 0;
            font-family: fontawesome;
            color: #3A698E;
            font-size: 40px;
            content: "\f10e";
            @include mx-desktops{
                right: -45px;
            }
        }
    }
    .owl-dots {
        @extend %posabsolute;
        right: -75px;
        bottom: -35px;
        @include mx-desktops{
           right: 0;
           width: 100%;
        }
    }
}
// .deposit-section-wrap 
.deposit-section-wrap {
    margin-left: 15px;
    @extend %backgroundimage;
    @extend %zindex2;
    color: #C3CBD5;
    @include all-below-med{
        margin-left: 0;
        padding: 50px 0;
        &.w-50{
            width: 100% !important;
        }
    }
    &:after {
       @extend %pseudo;
        left: 0;
        top: 0;
        @extend %w100;
        @extend %h100;
        @extend %black-bg-color;
        z-index: -1;
        opacity: .7;
    }
    .deposit-section {
        padding: 0 30px;
        .depo-percent {
            font-size: 120px;
            font-weight: 900;
            line-height: 90px;
            @extend %displayblock;
            @extend %secondary-color;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 30px;
            @extend %uppercase;
            @extend %white-color;
        }
        .boxed-btn {
            margin-top: 10px;
        }
    }
}



