/*============== Footer CSS ================*/
.footer-area {
    padding: 70px 0 0;
    @extend %primary-bg-color;
    color: #C3CBD5;
    h5 {
        @extend %white-color;
        font-size: 15px;
        @extend %uppercase;
        font-weight: 600;
    }
}
.newsletter-signup-section {
    @extend %uppercase;
    font-size: 15px;
    h4 {
        font-size: 18px;
        @extend %white-color;
        margin: 0 0 5px;
        font-weight: 600;
    }
    .signup-form {
        margin-top: 25px;
        span{
            @extend %posrelative;
            &:after {
                @extend %posabsolute;
                right: 17px;
                top: -5px;
                content: "\f0e0";
                font-family: fontawesome;
                font-size: 20px;
                color: #CCCCCC;
            }
            input[type=email] {
                @extend %w100;
                padding: 13px 45px 13px 15px;
            }
        }
        .boxed-btn {
            padding: 12px 35px;
            margin-top: 20px;
        }
    }
}
.single-quick-link {
    margin-left: 50px;
    width: 60%;
    &.quick-right {
        margin-left: 30px;
        width: 40%;
    }
    ul {
        li {
            margin-bottom: 10px;
            a {
                @extend %white-color;
                font-size: 15px;
                padding: 3px 0;
                opacity: .7;
                @extend %basetransition2;
                &:hover {
                    opacity: 1;
                    padding-left: 10px;
                }
            }
        }
    }
}
.single-footer-contact {
    .footer-facebook {
        width: 180px;
        @extend %white-bg-color;
        color: #225E9A;
        height: 30px;
        @extend %uppercase;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 50px;
        i {
            width: 40px;
            background-color: #225E9A;
            @extend %white-color;
            height: 30px;
            font-size: 18px;
            padding: 7px 0 0 14px;
        }
    }
    .footer-phone {
        @extend %white-color;
        opacity: .7;
        @extend %basetransition2;
        i {
            margin-right: 3px;
        }
        &:hover {
            opacity: 1;
        }
    }
}
.footer-copyright-section {
    padding: 18px 0;
    margin-top: 50px;
    border-top: 1px solid #375369;
    font-size: 13px;
    @extend %uppercase;
    letter-spacing: 1px;
    .autohq-logo{
        img{
            max-width: 100px;
        }
    }
}

// scrollTop
.scrollTop {
    right: 2%;
    bottom: -40px;
    width: 40px;
    height: 40px;
    z-index: 9;
    @extend %posfixed;
    @extend %secondary-bg-color;
    @extend %displayblock;
    @extend %white-color;
    @extend %textcenter;
    @extend %basetransition2;
    @extend %invisible;
    font-size: 25px;
    line-height: 37px;
    border-radius: 5px;
    &.scrollBtn{
        @extend %visible;
        bottom: 40px;
    }
    &:hover{
        @extend %white-color;
        @extend %primary-bg-color;
    }
}
