/*=============== Header CSS ==================*/

// .header-area
.header-area {
    background-color: #fff;
    padding: 30px 0 0;
    .header-social-icons {
        a {
            height: 45px;
            width: 45px;
            background-color: #094372;
            color: #fff;
            font-size: 20px;
            text-align: center;
            line-height: 47px;
            border-radius: 50px;
            margin-right: 5px;
            transition: .5s;
            &:hover {
                background-color: #E86E1C;
                color: #094372;
            }
        }
    }
    .header-phone-number {
        a {
            background-color: #094372;
            color: #fff;
            height: 45px;
            line-height: 46px;
            border-radius: 50px;
            width: 200px;
            padding-left: 20px;
            position: relative;
            text-align: center;
            transition: .5s;
            &:hover {
                background-color: #E86E1C;
                span {
                    background-color: #094372;
                }
            }
            span {
                position: absolute;
                left: -1px;
                top: -1px;
                width: 49px;
                height: 49px;
                background-color: #E86E1C;
                font-size: 25px;
                text-align: center;
                border-radius: 50px;
                border: 2px solid #fff;
                transition: .5s;
            }
        }
    }
}
// .mainmenu-area
.sticky-wrapper.is-sticky .mainmenu-area{
    z-index: 99 !important;
    box-shadow: 0 -40px 20px 30px #000;
    position: relative;
}
.mainmenu-area {
    background-color: #fff;
    .mainmenu {
        ul {
            li {
                position: relative;
                display: inline-block;
                a {
                    color: #094372;
                    padding: 23px 20px;
                    text-transform: uppercase;
                    display: block;
                    transition: .3s;
                }
                &:hover {
                    > a {
                        color: #E86E1C;
                    }
                }
            }
        }
    }
}

// Dropdown CSS
.mainmenu-area .mainmenu ul li ul {
    @extend %posabsolute;
    left: 0;
    top: 120px;
    width: 260px;
    @extend %white-bg-color;
    z-index: 9999;
    @extend %invisible;
    @extend %basetransition3;
    text-align: left;
    li:after{
        background: none;
    }
}
.mainmenu-area .mainmenu ul li ul ul {
    left: 100%;
    top: 45px;
    @extend %invisible;;
}
.mainmenu-area .mainmenu ul li:hover > ul {
    top: 70px;
    @extend %visible;
}
.mainmenu-area .mainmenu ul li ul li {
    @extend %displayblock;
    border-bottom: 1px solid #f4f4f4;
    @extend %basetransition2;
}
.mainmenu-area .mainmenu ul li ul li:hover {
    @extend %primary-border-color;
}
.mainmenu-area .mainmenu ul li ul li a {
    padding: 12px 20px 12px;
    @extend %displayblock;
    text-transform: capitalize;
}
.mainmenu-area .mainmenu ul li ul li:hover > a {
    @extend %primary-bg-color;
    @extend %white-color;
}
.mainmenu-area .mainmenu ul li ul li:hover {
    border-color: $primary-color;
}
.mainmenu-area .mainmenu ul li ul li:last-child {
    border-bottom: 4px solid;
    @extend %primary-border-color;
}
.mainmenu-area .mainmenu ul li ul li:hover ul {
    top: 0;
}

// Sticky Header with smooth animation
// .mainmenu-area {
//     @include desktops{
//         &.fixed {
//             width: 100%;
//             position: fixed;
//             top: 0;
//             left: 0;
//             animation:slide-down 0.7s;
//             z-index: 9;
//             box-shadow: 0 -40px 20px 30px #000;
//             &:after {
//                 position: absolute;
//                 content: "";
//                 width: 100%;
//                 height: 100%;
//                 z-index: -1;
//                 // background: #000;
//                 left: 0;
//                 top: 0;
//                 opacity: 1;
//             }
//         }
//     }
//     @include all-below-med{
//         position: fixed;
//         left: 0;
//         top: 0;
//         width: 100%;
//         z-index: 9;
//         // background: #031a39;
//     }
// }
// @keyframes slide-down {
//     0% {
//         // opacity: 0;
//         transform: translateY(-100%);
//     } 
//     100% {
//         // opacity: 1;
//         transform: translateY(0);
//     } 
// }

/* =======slicknav_menu======== */
.slicknav_menu {
    @extend %displaynone;
    @include all-below-med(){
        display: block;
        background: #ddd;
        position: fixed;
        left: 0;
        top: -10px;
        right: 0;
        width: 720px;
        z-index: 999999999999;
        margin: 0 auto;
        height: 0;
        span.slicknav_menutxt {
            display: none;
        }
        .slicknav_btn {
            padding: 0;
            margin: 0px 11px 0 0;
            font-size: 30px;
            background: none;
            top: 38px;
            right: 15px;
            @include mobile-lg{
                margin: 0px -5px 0 0;
            }
            @include all-below-mobile-lg{
                // top: 34px;
                // right: 0;
            }
            &:hover{
                background: none;
            }
            // @include mx-mobile(){
            //     right: 0px;
            // };
            // @include mx-mobile-lg(){
            //     right: 63px;
            // };
        }
        .slicknav_icon {
            margin: 0;
            span {
                background-color: #262262;
                border-radius: 0px;
            }
        }
        .slicknav_nav {
            padding: 10px 0;
            background: #fff;
            position: absolute;
            left: 0;
            top: 100px;
            width: 100%;
            box-shadow: 2px 10px 30px -14px #000;
            @include all-below-mobile-lg{
                // top: 90px;
            }
            .slicknav_row {
                padding: 0;
                a{
                    padding: 10px 15px;
                    display: inline-block;
                }
            }
            .slicknav_row{
                border-radius: 0px;
                &:hover {
                    border-radius: 0px;
                }
            }
        }
        a {
            padding: 10px 15px;
            font-size: 16px;
            color: #000;
            border-radius: 0;
            &:hover {
                border-radius: 0;
            }
        }
        
        
    }
    @include all-below-mobile-lg(){
        width: 540px;
    };
    @include all-mx-mobile(){
        width: 100%;
    };
}
