/*=============== Header CSS ==================*/

// .header-area
.spacer{
    height: 85px;
}
.header {
    height: 155px;
    @include all-below-med{
        height: 85px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
    }
}
.header-area {
    @extend %white-bg-color;
    padding: 0px 0 0;
    height: 85px;
    @include all-below-med{
        align-items: center !important;
        box-shadow: 0 -51px 25px 30px #000;
    }
    // .logo-wrap{
    //     @include all-below-mobile-lg{
    //         position: fixed;
    //         width: 230px;
    //         margin: 0 auto;
    //         left: 0;
    //         right: 0;
    //         top: 0;
    //         z-index: 99;
    //     }
    // }
    .site-logo {
        @include all-below-med{
            height: 85px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img{
            @include all-below-mobile-lg{
                max-width: 190px;  
            }
        }
        &.m-height{
            img {
                max-height: 55px;
                @include all-below-mobile-lg{
                    max-height: 45px;
                }
            }
        }
    }
    .header-social-icons {
        a {
            height: 45px;
            width: 45px;
            @extend %primary-bg-color;
            @extend %white-color;
            font-size: 20px;
            @extend %textcenter;
            line-height: 47px;
            @extend %borderradius50;
            margin-right: 5px;
            @extend %basetransition2;
            &:hover {
                @extend %secondary-bg-color;
                // @extend %primary-color;
            }
        }
    }
    .header-phone-number {
        a {
            @extend %primary-bg-color;
            @extend %white-color;
            height: 45px;
            line-height: 46px;
            border-radius: 50px;
            width: 200px;
            padding-left: 20px;
            @extend %posrelative;
            @extend %textcenter;
            @extend %basetransition2;
            @include all-below-med{
                width: 46px;
                margin-top: 2px;
            }
            &:hover {
                @extend %secondary-bg-color;
                .phone-icon {
                    @extend %primary-bg-color;
                }
            }
            .phone-icon {
                @extend %posabsolute;
                left: -1px;
                top: -1px;
                width: 49px;
                height: 49px;
                @extend %secondary-bg-color;
                font-size: 25px;
                @extend %textcenter;
                @extend %borderradius50;
                border: 2px solid #fff;
                @extend %basetransition2;
                @include all-below-mobile-lg{
                    border: 4px solid;
                }
                &.change-color{
                    @extend %primary-bg-color;
                    &:hover{
                        @extend %secondary-bg-color;
                    }
                }
            }
        }
    }
}
// .mainmenu-area
.sticky-wrapper.is-sticky .mainmenu-area{
    z-index: 99 !important;
    box-shadow: 0 -40px 20px 30px #000;
    @extend %posrelative;
}
.mainmenu-area {
    @extend %white-bg-color;
    .small-logo-inner{
        @extend %displaynone;
        img{
            max-height: 35px;
        }
    }
    &.fixed {
        .mainmenu {
            @extend %displayflex;
            @extend %justifybetween;
            @include all-below-med{
                display: none !important;
            }
            ul > li:last-child{
                a{
                    padding-right: 0;
                }
            }
            > ul > li > a {
                @include mx-desktops{
                    padding: 23px 10px;
                }
            }
        }
        .small-logo-inner{
            @extend %displayblock;
        }
    }
    .mainmenu {
        @include all-below-med{
            display: none;
        }
        ul {
            li {
                @extend %posrelative;
                @extend %displayinline;
                a {
                    @extend %primary-color;
                    padding: 23px 20px;
                    @extend %uppercase;
                    @extend %displayblock;
                    @extend %basetransition1;
                }
                &:hover {
                    > a {
                        @extend %secondary-color;
                    }
                }
            }
        }
    }
}

// Dropdown CSS
.mainmenu-area .mainmenu ul li ul {
    @extend %posabsolute;
    left: 0;
    top: 120px;
    width: 260px;
    @extend %white-bg-color;
    z-index: 9999;
    @extend %invisible;
    @extend %basetransition3;
    @extend %textleft;
    li:after{
        background: none;
    }
}
.mainmenu-area .mainmenu ul li ul ul {
    left: 100%;
    top: 45px;
    @extend %invisible;;
}
.mainmenu-area .mainmenu ul li:hover > ul {
    top: 70px;
    @extend %visible;
}
.mainmenu-area .mainmenu ul li ul li {
    @extend %displayblock;
    border-bottom: 1px solid #f4f4f4;
    @extend %basetransition2;
}
.mainmenu-area .mainmenu ul li ul li:hover {
    @extend %primary-border-color;
}
.mainmenu-area .mainmenu ul li ul li a {
    padding: 12px 20px 12px;
    @extend %displayblock;
    @extend %capitalize;
    @extend %secondary-color;
}
.mainmenu-area .mainmenu ul li ul li:hover > a {
    @extend %secondary-bg-color;
    @extend %white-color;
}
.mainmenu-area .mainmenu ul li ul li:hover {
    @extend %secondary-border-color;
}
.mainmenu-area .mainmenu ul li ul li:last-child {
    border-bottom: 4px solid;
    @extend %secondary-border-color;
}
.mainmenu-area .mainmenu ul li ul li:hover ul {
    top: 0;
}

// Sticky Header with smooth animation
.mainmenu-area {
    @include desktops{
        &.fixed {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            animation:slide-down 0.7s;
            z-index: 9999;
            box-shadow: 0 -40px 20px 30px #000;
            &:after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: -1;
                opacity: 1;
            }
        }
    }
    @include all-below-med{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 9;
        // background: #031a39;
    }
}
@keyframes slide-down {
    0% {
        // opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        // opacity: 1;
        transform: translateY(0);
    } 
}

/* =======slicknav_menu======== */
.slicknav_menu {
    @include desktops{
        display: none;
    }
    @extend %margin0auto;
    @extend %posfixed;
    background: #ddd;
    left: 0;
    top: -10px;
    right: 0;
    width: 720px;
    z-index: 999999999999;
    height: 0;
    span.slicknav_menutxt {
        @extend %displaynone;
    }
    .slicknav_btn {
        padding: 0;
        margin: 0px 11px 0 0;
        font-size: 30px;
        background: none;
        top: 35px;
        right: 15px;
        @include mobile-lg{
            margin: 0px -5px 0 0;
        }
        @include all-below-mobile-lg{
            // top: 34px;
            // right: 0;
        }
        &:hover{
            background: none;
        }
        // @include mx-mobile(){
        //     right: 0px;
        // };
        // @include mx-mobile-lg(){
        //     right: 63px;
        // };
    }
    .slicknav_icon {
        margin: 0;
        span {
            @extend %primary-bg-color;
            @extend %borderradius0;
            box-shadow: none;
        }
    }
    .slicknav_nav {
        padding: 10px 0;
        background: #fff;
        @extend %posabsolute;
        left: 0;
        top: 95px;
        width: 100%;
        // box-shadow: 0px 3px 8px -7px #000;
        box-shadow:2px 10px 30px -14px #000;
        @include all-below-mobile-lg{
            // top: 90px;
        }
        .slicknav_row {
            padding: 0;
            a{
                padding: 10px 15px;
                @extend %displayinline;
            }
        }
        .slicknav_row{
            @extend %borderradius0;
            &:hover {
                @extend %borderradius0;
            }
        }
    }
    a {
        padding: 10px 15px;
        font-size: 16px;
        color: #000;
        @extend %borderradius0;
        &:hover {
            @extend %borderradius0;
        }
    }
    @include all-below-mobile-lg(){
        width: 540px;
    };
    @include all-mx-mobile(){
        width: 100%;
    };
}


// .alert-message-section
.alert-message-section {
    @extend %primary-bg-color;
    @extend %white-color;
    padding: 10px 0;
    font-size: 14px;
    a {
        text-decoration: underline;
        transition: .5s;
        &:hover {
            @extend %secondary-color;
        }
    }
}